@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul id="messages"></ul>

    <label>User Id:</label>
    <input id="userId" value="5000" />

    <button onclick="connect()">Connect</button>
    <button onclick="send()">Send Event</button>
    <button onclick="notify()">Notify</button>

</div>
<script>
    let source = null;
     function connect() {
        const userId = document.getElementById("userId").value;

        if (source) {
            source.close();
        }

        source = new EventSource(`/Home/Stream?userId=${userId}`);

        source.onmessage = (event) => {
            const data = JSON.parse(event.data);

            const li = document.createElement("li");
            li.textContent =
                `${data.Name}: ${data.Value}% at ${data.Timestamp}`;

            document.getElementById("messages").appendChild(li);
        };

        source.onerror = () => {
            console.log("SSE disconnected");
        };
    }

    function send() {
        const userId = document.getElementById("userId").value;

        fetch(`/Home/SendToUser?userId=${userId}`, {
            method: "POST"
        });
    }

     function notify() {
        source = new EventSource(`/Home/StreamAll`);
        source.onmessage = (event) => {
            const data = JSON.parse(event.data);

            const li = document.createElement("li");
            li.textContent =
                `${data.Name}: ${data.Value}% at ${data.Timestamp}`;

            document.getElementById("messages").appendChild(li);
        };

        source.onerror = () => {
            console.log("SSE disconnected");
        };
    }

    window.addEventListener("beforeunload", () => {
        if (source) source.close();
    });

</script>